
/*   ? FROM HERE ALL THE COMMON CHANGES
------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}
*::selection {
  color: black;
  background-color: #00c8ff31;
}
a {
  color: rgb(255, 255, 255) !important;
  transition: all 0.3s ease-in-out;
}
a:hover {
  color: rgb(243, 255, 75) !important;
  font-family: 'Raleway',
    sans-serif;
}
svg {
  align-items: baseline;
  align-self: center;
  align-content: center;
  margin: 0 auto;
}
i:hover {
  transform: scale(1.1);
  opacity: 0.6;
}
svg:hover {
  transform: scale(1.1);
  opacity: 0.6;
}
h1{

}
h4 {
  padding: 2% 0% 2% 0%;
}

h5 {
  padding: 0% 0% 2% 0%;
}
.fa-file-text {
  font-size: 4px;
  color: #047a53;
}
.box-description {
  background-color: #e3f3ee;
}
/*todo Navbar contents from here*/
.navbar-nav li {
  padding: 0 10px;
}
.navbar-nav li a {
  text-align: right;
  color: #fff;
  font-size: large;
  font-weight: 600;
}
.navbar {
  background: -webkit-linear-gradient(right, #0072ff, #00c6ff);
}
#leftlogo img{
  width: 200px;
  height:70px;
}
@media only screen and (max-width: 600px) {
  #leftlogo img {
    width: 100px;
    height: 35px;
  }
}
.navbar-toggler {
  background-color: #0ee3ff!important;
  border: none !important;
}
#navbar-toggler-icon{
  color:black; 
}

.col-sm-2 svg {
  align-items: center;
  col-sm-2
}
/**-THE UNDERLINE EFFECT OF LINK of particular page-*/
a.left {
  position: relative;
}
a.left:before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
a.left:hover:before {
  visibility: visible;
  width: 100%;
}
/* **for the link with highlight for he particular page*/
a.highlight {
  color: #dda9a9 !important;

}
/*
 ! Navbar contents end from here
*/
/** the written stuff below navbar*/
.box-for-names{
  margin: 10% 10% 10% 10%;
  padding: 10%;
}
.below-navbar-container{
   background: -webkit-linear-gradient(right, #0072ff, #00c6ff);
}
#commonbuttons{
  padding:2%; 
  border: none;
  border-radius: 2%;
  color:white;
  background: -webkit-linear-gradient(right, #0072ff, #00c6ff);
  }

/**below the navbar right side svg*/
.right_below_navbar_svg{
  width: 100%;
  height: auto;
}
